.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

select {
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    border: 2.5px solid #000000;
    padding: 100px;
    text-align: center;
    background-color: rgb(75, 116, 116);
    font-size: large;
}

.dropdown {
    border: 1px solid #ccc;
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    outline: none;
}